@page "/"

<PageTitle>Hello MUD World</PageTitle>

<AuthorizeView>
    <Authorized>
        <Chat></Chat>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid text-center main-display">

            <h1>Hello, MUD world!</h1>

            HMW is a learning project built with Blazor.

        </div>
    </NotAuthorized>
</AuthorizeView>


