@page "/"

<PageTitle>Hello MUD World</PageTitle>

<AuthorizeView>
    <Authorized>
        <Chat></Chat>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid text-center main-display">

            <h1 class="display-1 mt-5">Hello, MUD world!</h1>

            <p class="lead">
                HMW is a learning project built with Blazor.
            </p>

        </div>
    </NotAuthorized>
</AuthorizeView>


