@inherits LayoutComponentBase

<PageTitle>HelloMUDWorld</PageTitle>

<div class="page">
    <Navbar />
    <main>
        <div class="content py-0">
            @Body
        </div>
    </main>
</div>