@inherits LayoutComponentBase

<PageTitle>HelloMUDWorld</PageTitle>

<div class="page">
    <main>
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hello MUD World</a>
                <div class="d-flex">
                    <LoginDisplay />
                </div>
            </div>
        </nav>
        <div class="content py-0">
            @Body
        </div>
    </main>
</div>
